@charset "utf-8";
/* CSS Document */

body{
	background-color:#333;
	position:relative;
}

#hottest{
	font-family:Tahoma, Geneva, sans-serif;
	font-size:30pt;
	color:#FFF;
	text-align:center;
}

.listitem{
	border-bottom:10px solid black;
	display:block;
	border-bottom-color:#000;
	height:20%;
	text-decoration:none;
}
.stars{
	position:absolute;
	font-size:15pt;
	right:0;
	padding-right:10%;
	padding-top:0;
	margin-top:0;
	color:#EEE;
}
.shopname{
	font-family:Tahoma, Geneva, sans-serif;
	font-size:12pt;
	font-weight:bold;
	color:#EEE;	
	margin-right:50%;
}

.shoplocation{
	font-family:Tahoma, Geneva, sans-serif;
	font-size:10pt;
	color:#EEE;
}

.filter{
	font-family:Tahoma, Geneva, sans-serif;
	font-size:50pt;
	border-bottom:10px solid black;
	color:#EEE;
	height:25%;
	vertical-align:central;
	padding-left:10%;
	position:relative;
	display:block;	
}
.menu{
	font-family:Tahoma, Geneva, sans-serif;
	font-size:10pt;
	color:#EEE;
}

a{
	text-decoration:none;
}

