@import url('//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css');
@import url('https://raw.githubusercontent.com/silviomoreto/bootstrap-select/master/dist/css/bootstrap-select.min.css');


#img-logo{
    width:30px;
    height:30px;
    }

.input-group-150 {
    max-width: 250px;
    
}



#header-row{
    margin-top:70px;
    }
    
    
    
    
    
    
    .zoom-img {
    margin: 80px 0px 80px 0px;
    }

.img-rounded {
    margin: 10px 10px 10px 10px;
    -webkit-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    transform: scale(1, 1);
    transition-duration: 0.3s;
    -webkit-transition-duration: 0.3s; /* Safari */
    width:140px;
    height:140px;
    }

.img-rounded:hover {
    cursor: pointer;
	-webkit-transform: scale(2, 2);
    -ms-transform: scale(2, 2);
    transform: scale(2, 2);
    transition-duration: 0.3s;
    -webkit-transition-duration: 0.3s; /* Safari */
    box-shadow: 10px 10px 5px #888888;
    z-index: 1;
    }












.user-image{
    width:40px;
    height:40px;
    }
    
.panel-feed{
    padding:60px;
    margin:10px;
    }    
